.index-container {
  @apply flex flex-col items-center justify-center w-full;
}

.title-container {
  @apply h-[calc(100vh-74px)] flex flex-col items-baseline justify-center w-full;

  max-width: 90rem;
  padding-left: max(env(safe-area-inset-left),1.5rem);
  padding-right: max(env(safe-area-inset-right),1.5rem);
  margin: 0 auto;
}

.title-container * {
  @apply my-6;
}

h1.title {
  @apply font-bold text-7xl md:text-8xl;
}

p.subtitle {
  @apply text-xl w-11/12 md:w-3/4;
}

.start-btn {
  @apply bg-amber-500 hover:bg-amber-600 text-white font-bold px-6 py-4 rounded-lg uppercase text-[1.4rem];
}

.start-btn p {
  @apply my-0;
}
